* {box-sizing: border-box;}

body {
  margin: 0;
}

header {
  background-color: green;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  width: 100px;
  height: 20px;
  background-color: limegreen;
  margin-right: 20px;
}
.header-item:last-child {
  margin-right: 0;
}

main {
  padding: 50px;
  background-color: yellow;
}

.container {
  padding: 50px;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

.container-item-outer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.333%;
  padding: 25px;
}

.container-item-inner {
  padding-bottom: 100%;
  background-color: orangered;
}

.circle {
  border-radius: 50%;
}

.double {
  flex-basis: 66.666%;
}

.double .container-item-inner {
  padding-bottom: calc(50% - 25px);
}

.triple .container-item-inner {
  padding-bottom: calc(33.33% - 25px);
}

.triple {
  flex-basis: 100%;
}

.stacked:first-child {
  background-color: darkorange;
}

.stacked {
  padding-bottom: 50%;
}

@media (max-width: 700px) {
  header {
    justify-content: space-between;
  }
  .container-item-outer {
    flex-basis: 100%;
  }
  .container-item-inner {
    padding-bottom: 50%;
  }
}

/*
@media (max-width: 400px) {
  .container-item-outer {
    background-color: lightblue;
    flex-basis: 50%;
  }
  .container-item-inner {
    background-color: blue;
    padding-bottom: 25px;
  }
}
/*
