html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#home {
  height: 100%;
  width: 16.66665%;
  float: left;
  background-color: white;
}

#post {
  height: 100%;
  width: 83.33335%;
  float: left;
}

h1 {
  font-family: nimbus-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  font-size: 120px;
}

h2 {
  font-family: nimbus-sans;
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 25px;
}
