html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#home {
  height: 100%;
  width: 16.66665%;
  float: left;
  background-color: white;
}

#post {
  height: 100%;
  width: 83.33335%;
  float: left;
}

#c1, #c2, #c3 {
  height: 100%;
  width: 33.3333%;
  float:left;
}

h1 {
  font-family: nimbus-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-top: -15px;
  margin-bottom: 0px;
  color: white;
  font-size: 7vw;
}

h2 {
  font-family: nimbus-sans;
  font-style: normal;
  font-weight: 300;
  margin-top: -15px;
  margin-bottom: 0px;
  margin-left: 5px;
  color: white;
  font-size: 2vw;
}
