html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#homepage-red {
  height: 100%;
  width: 33.3333%;
  float:left;
  background-color: #FF0000;}

#homepage-green {
  height: 100%;
  width: 33.3333%;
  float: left;
  background-color: #00FF00;}

#homepage-blue {
  height: 100%;
  width: 33.3333%;
  float: left;
  background-color: #0000FF;}

#nav {
  height: 100%;
  width: 16.66665%;
  float: left;
  background-color: white;
}

#post-red {
  height: 100%;
  width: 83.33335%;
  float: left;
  background-color: #FF0000;
}

#post-green {
  height: 100%;
  width: 83.33335%;
  float: left;
  background-color: #00FF00;
}

#post-blue {
  height: 100%;
  width: 83.33335%;
  float: left;
  background-color: #0000FF;
}

#post-black {
  height: auto;
  width: 83.33335%;
  float: left;
  background-color: #000000;
}

#post-about-s {
  height: 100%;
  width: 83.33335%;
  float: left;
  background-color: #000000;
}

#c1 {
  height: 100%;
  width: 33.3333%;
  float:left;
}

#post-color-links {
  position: fixed;
  bottom: 150px;
  width: 33.3333%;
}

#post-links {
  position: fixed;
  bottom: 50px;
  width: 33.3333%;
}

#c2 {
  height: 100%;
  width: 66.6666%;
  float:left;
}

#c2a, #c2b {
  width: 50%;
  float:left;
}

#post-about {
  height: 100%;
  width: 83.33335%;
  float: left;
  background-color: red;
}

#a1 {

}

h1 {
  font-family: nimbus-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -7px;
  margin-top: -15px;
  margin-bottom: 0px;
  color: white;
  font-size: 7vw;
}

h2 {
  font-family: nimbus-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -7px;
  margin-top: -15px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: white;
  font-size: 7vw;
  float: left;
}

h3 {
  font-family: monospace;
  font-style: normal;
  font-weight: 100;
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 7px;
  color: white;
  font-size: 1vw;
  text-align: left;
}

h4 {
  font-family: monospace;
  font-style: normal;
  font-weight: 100;
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 7px;
  color: white;
  font-size: 1vw;
  float: left;
}

h4:hover{
  font-style: italic;
  text-decoration: underline;
}

h5 {
  font-family: monospace;
  font-style: normal;
  font-weight: 100;
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 7px;
  color: white;
  font-size: 1vw;
  text-align: left;
}


h6 {font-family: nimbus sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.5px;
  display: block;
	font-size: 35pt;
  margin-top: 20px;
  margin-bottom: -40px;
  margin-left: 6px;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: white;
	overflow-wrap: break-all;
  float: left;
}

h6:hover, h7:hover {-webkit-text-fill-color: white;
}

h7 {font-family: nimbus sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  display: block;
	font-size: 35pt;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 6px;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: white;
	overflow-wrap: break-all;
  float: left;
}

img {
  width: 90%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
